#page_title {
  margin: 20px 0px 20px 30px;
  position: fixed;
}
.grid_box {
  display: grid;
  grid-template-columns: repeat(2, min(45vw, 45vh));
  grid-template-rows: repeat(2, min(45vw, 45vh));

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 90px 20px 150px 20px;
  justify-content: center;
}

.grid {
  margin: 20px;
  padding: 10px 20px;
  background-color: #cdb4db;
  color: white;
}

#notes {
  position: absolute;
  z-index: 5;
}

#draggable{
  border : 1px solid red;
  width : 200px
}

#drop_zone{
  border : 1px solid red;
  height : 500px;
  width : 500px;
}