#sign_in_background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  /* background-image: linear-gradient(120deg, #cdb4db, #e8e8e8); */
  background-color: #cdb4db;
}

#sign_in_modal {
  background-color: white;
  position: fixed;
  left: calc(50vw - 200px);
  top: 20vh;
  width: 400px;
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  --shadow-color: 300deg 20% 43%;
  box-shadow: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.33),
    0.9px 1.3px 1.9px -0.6px hsl(var(--shadow-color) / 0.38),
    2.2px 3.1px 4.6px -1.3px hsl(var(--shadow-color) / 0.43),
    5.1px 7.4px 10.9px -1.9px hsl(var(--shadow-color) / 0.47);
}

#sign_in {
  margin-top: 50px;
}

#page_title {
  margin: 20px 0px 20px 40px;
  position: fixed;
  font-size: 28pt;
  top: 0px;
}

#drop_area {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.grid_box {
  position: absolute;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
  z-index: 0;

  margin: 70px 20px 150px 20px;
}

.grid {
  margin: 20px;
  padding: 10px 20px;
  background-color: #cdb4db;
  color: white;
  --shadow-color: 0deg 0% 57%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.31),
    0.4px 0.9px 1.2px -1px hsl(var(--shadow-color) / 0.37),
    1.1px 2.2px 3px -1.9px hsl(var(--shadow-color) / 0.43);
}

#notes_list {
  list-style-type: none;
  padding-left: none;
}

.note_div {
  background-color: rgb(230, 223, 232);
  width: 95px;
  height: 95px;
  font-size: 10pt;
  padding: 12px 5px;
  border-radius: 0px 0px 1px;
  border: 1px solid #e8e8e8;

  --shadow-color: 300deg 20% 43%;
  box-shadow: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.33),
    0.9px 1.3px 1.9px -0.6px hsl(var(--shadow-color) / 0.38),
    2.2px 3.1px 4.6px -1.3px hsl(var(--shadow-color) / 0.43),
    5.1px 7.4px 10.9px -1.9px hsl(var(--shadow-color) / 0.47);
}

.note_modal {
  width: 500px;
  height: 500px;
  background-color: rgb(230, 223, 232);
  font-size: 10pt;
  padding: 20px 30px;
  box-shadow: 1px 3px 3px;
  border-radius: 0px 0px 1px;
}
